@charset "utf-8";
/* CSS Document */
body{
	background: url(../img/bg.jpg) no-repeat scroll 0 0 rgba(0,0,0,0);
	background-size: cover;
	font-family: "Myriad pro",sans serif;
}
.sp-form{
	border-radius: 10px;
	background: #fff;
	margin-top: 35%;
	position: relative;
}
.sp-form:before, .sp-form:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 10px 12px #666;
    -moz-box-shadow:0 10px 12px #666;
    box-shadow:0 10px 12px #666;
    top:50%;
    bottom:0;
    left: 70px;
    right: 70px;
    -moz-border-radius:170px / 50px;
    border-radius: 170px / 50px;
} 
.sp-form h3{
	background: none repeat scroll 0 0 #0ea7e7;
    border-bottom: 1px solid #ea484e;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 10px;
	font-size: 20px;
	font-family: "Arial",sans serif;
	font-weight: normal;
	margin-bottom: 8%;
    text-align: center;
    text-transform: uppercase;
}
.sp-form .row{
	margin: 5px 30px !important;
}
.sp-form input[type="text"]{
	border: 2px solid #cfcfcf;
	border-radius: 5px;
	color: #cccaca;
	font-size: 11.5px;
}
.sp-form .button{
	background: #ea484e;
	font-family: "Arial",sans serif;
	font-size: 16px;
	margin: 0 0 2% 29%;
	padding: 10px 23px;
	color: #fcf8f9;
	border: none;
}
.sp-form .btn-text{
	font-size: 9px;
	text-align: center; 	
	font-family: "Myriad pro",sans serif;
}
.btn-text span{
	text-decoration: underline;
	color: #a4a4a4;
}
.btn-text a{
	color: #0ea7e7;
}